
## <summary>policy for nealcoin</summary>


########################################
## <summary>
##	Transition to nealcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nealcoin_domtrans',`
	gen_require(`
		type nealcoin_t, nealcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nealcoin_exec_t, nealcoin_t)
')


########################################
## <summary>
##	Execute nealcoin server in the nealcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nealcoin_initrc_domtrans',`
	gen_require(`
		type nealcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nealcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search nealcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nealcoin_search_lib',`
	gen_require(`
		type nealcoin_var_lib_t;
	')

	allow $1 nealcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nealcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nealcoin_read_lib_files',`
	gen_require(`
		type nealcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nealcoin_var_lib_t, nealcoin_var_lib_t)
')

########################################
## <summary>
##	Manage nealcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nealcoin_manage_lib_files',`
	gen_require(`
		type nealcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nealcoin_var_lib_t, nealcoin_var_lib_t)
')

########################################
## <summary>
##	Manage nealcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nealcoin_manage_lib_dirs',`
	gen_require(`
		type nealcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nealcoin_var_lib_t, nealcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an nealcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nealcoin_admin',`
	gen_require(`
		type nealcoin_t;
		type nealcoin_initrc_exec_t;
		type nealcoin_var_lib_t;
	')

	allow $1 nealcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, nealcoin_t)

	nealcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nealcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nealcoin_var_lib_t)

')

